*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    height: 972px;
    padding-top: 64px;
    padding-right: 64px;
    padding-bottom: 96px;
    padding-left: 64px;
    background-color: #fffcfa;
    margin: 0px auto;
}

a{
    text-decoration: none;
}

#root{
    display: flex;
    flex-direction: column;
    gap: 80px;
}